@import "tailwindcss";

@theme {
  --border-3: 3px;
  --height-screen: 100dvh;
}

body {
  @apply bg-black text-white font-mono selection:bg-white selection:text-black;
}

.pixelated {
  image-rendering: pixelated;
}
